services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
      - /app/tmp
    ports:
      - "8080:8080"
    environment:
      DAISY_PERSONAL: https://daisy.dsv.su.se:443/servlet/schema.PersonalCalendarICS?id=184100&access_token=007a316a-6521-41ac-8c62-c72be1082286
      DB_HOST: db
      DB_USER: user
      PGPASSWORD: password
      DB_NAME: mydb
      DB_PORT: 5432
      PORT: 8080
      DEV: true
    depends_on:
      db:
        condition: service_healthy

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   ports:
  #     - "5173:5173"
  #   volumes:
  #     - ./frontend:/app
  #     - /app/node_modules
  #   environment:
  #     - HOST=0.0.0.0

volumes:
  db-data:
